body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #fff;
}

li {
    list-style-type: none;

}

h1,h2,h3,h4,h5,h6,p {
    margin-top: 0;
    margin-bottom: 0;
}

ul {
    margin: 0;
    padding-left: 0;
}

a {
    text-decoration: none;
}

img {
    display: block;
    margin: 100%;
    height: auto;
}

button {
    cursor: pointer;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* common */

.container {
    margin: 0 auto;
    max-width: 320px;
    padding: 0 16px;
}

@media screen and (min-width: 768px){
    .container {
        max-width: 768px;
    }
}

@media screen and (min-width: 1158px){
    .container {
        max-width: 1158px;
        padding: 0 15px;
    }
}

/* header */

.header-main {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigation-items,
.address {
    display: none;
}

.header-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 117%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    padding: 16px 0;
    display: block;
}

.header-studio {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 117%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2e2f42;
}

.burger-btn {
    padding: 0;
    border: none;
    background-color: transparent;
}

.burger-icon {
    display: block;
    fill: #2f2f37;
}

@media screen and (min-width: 768px){
    .burger-btn {
        display: none;
    }

    .navigation {
        display: flex;
        align-items: center;
    }

    .navigation-items {
        display: flex;
        gap: 40px;
        padding-top: 24px;
        padding-bottom: 24px;
    }

    .header-logo {
        margin-right: 120px;
    }

    .nav-link {
        font-weight: 500;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: 0.02em;
        color: #2e2f42;
        padding-top: 24px;
        padding-bottom: 24px;
        position: relative;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
    }
    
    .nav-link.current {
        font-weight: 500;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: 0.02em;
        color: #404bbf;
        padding-top: 24px;
        padding-bottom: 24px;
        position: relative;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    
    .nav-link.current::after{
        content: "";
        display: block;
        width: 100%;
        height: 4px;
        background-color: #404bbf;
        border-radius: 2px;
        bottom: -1px;
        position: absolute;
        left: 0;
    }

    .address {
        font-style: normal;
        display: block;
    }
    
    .address-items {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }

    .address-link {
        font-weight: 400;
        font-size: 12px;
        line-height: 117%;
        letter-spacing: 0.04em;
        color: #434455;
        font-style: normal;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .nav-link:focus,
    .nav-link:hover,
    .address-link:focus,
    .address-link:hover {
        color: #404bbf;
    }
    
}

@media screen and (min-width: 1158px) {
    .header-logo {
        margin-right: 76px;
    }
    
    .address-items {
        flex-direction: row;
        gap: 40px;
    }

    .address-link {
        font-size: 16px;
        line-height: 150%;
        letter-spacing: 0.02em;
        padding: 24px 0;
    }

}

/* mobile menu */

.mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-container {
    position: relative;
}

.mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

@media screen and (min-width: 768px) {
    .mobile-menu {
        display: none;
    }
}