body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #fff;
}

li {
    list-style-type: none;

}

h1,h2,h3,h4,h5,h6,p {
    margin-top: 0;
    margin-bottom: 0;
}

ul {
    margin: 0;
    padding-left: 0;
}

a {
    text-decoration: none;
}

img {
    display: block;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

.header-main {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);;
}

.container {
    margin: 0 auto;
    width: 1158px;
    padding: 0 15px 0 15px;
}

.section {
    padding-top: 120px;
    padding-bottom: 120px;
}

.header-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 117%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-right: 76px;
}

.header-container {
    display: flex;
    justify-content: space-between;
    /* padding: 24px 0; */
}

.navigation {
    display: flex;
    align-items: center;
    /* padding-top: 24px;
    padding-bottom: 24px; */
}

.navigation-items {
    display: flex;
    gap: 40px;
    padding-top: 24px;
    padding-bottom: 24px;
}

.header-studio {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 117%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2e2f42;
}


.nav-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding-top: 24px;
    padding-bottom: 24px;
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.nav-link.current {
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #404bbf;
    padding-top: 24px;
    padding-bottom: 24px;
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link.current::after{
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
    bottom: -1px;
    position: absolute;
    left: 0;
}

/* Other nav-links styles */

/* .nav-link:active::after {
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
    bottom: -1px;
    position: absolute;
    left: 0;
} */

/* .nav-link:focus::after {
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
    bottom: -1px;
    position: absolute;
    left: 0;
} */

.nav-link:focus,
.nav-link:hover {
    color: #404bbf;
}

.address {
    font-style: normal;
    display: flex;

}

.address-items {
    display: flex;
    gap: 40px;
    padding-top: 24px;
    padding-bottom: 24px;
}

.address-link {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #434455;
    font-style: normal;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}

.address-link:focus,
.address-link:hover {
    color: #404bbf;
}

.bg-solution {
    max-width: 1440px;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office1.jpg);
    background-color: #2e2f42;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 600px;
    padding: 188px 0;
    margin: 0 auto;
}

.title-solution {
    font-weight: 700;
    font-size: 56px;
    line-height: 107%;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    max-width: 496px;
    margin: 0 auto;
    margin-bottom: 48px;
}

.order-button {
    display: block;
    margin: 0 auto;
    min-width: 169px;
    height: 56px;
    border-radius: 4px;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.04em;
    color: #fff;
    background-color: #4d5ae5;
    cursor: pointer;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);;
}

.order-button:focus,
.order-button:hover {
    background-color: #404bbf;
}

.features {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: .02em;
    text-align: center;
    text-transform: capitalize;
    color: #2e2f42;
}

.features-list {
    display: flex;
    gap: 24px;
}

.features-item {
    width: calc((100% - 72px) / 4);
}

.features-icon {
    margin: 24px 100px;;
}

.icon-box {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    margin-bottom: 8px;
    width: 264px;
    height: 112px;
    background-color: #f4f4fd;
}

.title-features {
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.features-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #434455;
}

.team-section {
    background-color: #f4f4fd;
}

.title-team {
    font-weight: 700;
    font-size: 36px;
    line-height: 111%;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.team-list {
    display: flex;
    gap: 24px;
}

.title-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-align: center;
    margin-bottom: 8px
}

.team-cards {
    background-color: #fff;
    width: calc((100% - 72px) / 4);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.card-description {
    padding: 32px 0;
}

.team-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #434455;
    text-align: center;
}

.social-net {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    margin-top: 8px;
}
.social-net-item {
    width: 40px;
    height: 40px;
}
.social-net-link {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4d5ae5;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1)
}

.social-net-link:hover,
.social-net-link:focus {
    background-color: #404bbf;
}

.icon {
    fill: #f4f4fd;
}

.portfolio-section {
    font-weight: 700;
    font-size: 36px;
    line-height: 111%;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
}

.portfolio-cards {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}

.card {
    width: calc((100% - 48px)/3);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card:hover {
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.img-container {
    position: relative;
    overflow: hidden;
}

.card:hover .overlay-text {
    transform: translateY(0);
}

/* .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
    transition: transform 150ms ease-in-out;
    background-color: #4d5ae5;
} */

.overlay-text {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
    transition: transform 150ms ease-in-out;
    background-color: #4d5ae5;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    padding: 40px 32px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    color: #f4f4fd;
}

.card-content {
    border-bottom: 1px solid #e7e9fc;
    border-left: 1px solid #e7e9fc;
    border-right: 1px solid #e7e9fc;
    padding: 32px 16px;
    width: 360px;
    height: 120px;
}

.title-portfolio { 
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.portfolio-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #434455;
}

.footer {
    background-color: #2e2f42;
    height: 312px;
    padding: 100px 0;
}

.footer-logo {
    display: inline-block;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 117%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-bottom: 16px;
}

.footer-studio {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 117%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #f4f4fd;
}

.footer-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    max-width: 264px;
}

.footer-logo-text {
    margin-right: 120px;
}

.footer-container {
    display: flex;
    align-items: baseline;    
}


.footer-social-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #fff;
    margin-bottom: 16px;
}

.footer-social-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    margin-top: 16px;
    margin-right: 80px;
}

.footer-social-list-item {
    width: 40px;
    height: 40px;
}

.footer-social-list-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;   
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-list-link:hover,
.footer-social-list-link:focus {
    background-color: #31d0aa;
}

.footer-email-form-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;
    margin-bottom: 16px;
}

.footer-form {
    display: flex;
    flex-direction: row;
    gap: 24px;
}


.footer-input {
    display: flex;
    background-color: transparent;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    padding-left: 16px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    color: #ffffff;
    font-family: inherit;
    border: 1px solid #ffffff;
    border-radius: 4px;
    width: 264px;
    height: 40px;
}

.footer-input::placeholder {
    color: #ffffff;
}

.footer-email-button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 4px;
    padding: 8px 24px;
    min-width: 165px;
    height: 40px;
    font-family: "Roboto",sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    color: #ffffff;
    background-color: #4d5ae5;
    cursor: pointer;
    
}

.footer-btn-icon {
    margin-left: 16px;
}

.modal-overlay {
    position: fixed;
    background-color: rgba(46, 47, 66, 0.4);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    opacity: 0;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}

.modal-overlay.is-open {
    opacity: 1;
    pointer-events: auto;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    background-color: #fcfcfc;
    padding: 72px 24px 24px 24px;
    border-radius: 4px;
    width: 408px;
    min-height: 584px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1)
}

.modal-close-btn {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover,
.modal-close-btn:focus {
    background-color: #404bbf;
    border: none;
    fill: #ffffff;
} 

.icon-close {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 16px;
}

.modal-form {
    gap: 8px;
    margin-bottom: 15px;
    width: 360px;
    height: 80%;
    margin: 0 auto;
}

.modal-field {
    margin-bottom: 8px;
}

.modal-field-comment{
    margin-bottom: 16px;
}

.modal-label {
    display: block;
    margin-bottom: 4px;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
}

.modal-textarea {
    width: 100%;
    height: 120px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding: 8px 16px;
    outline: transparent;
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-textarea:focus {
    border-color: #4D5AE5;
}

.modal-input-wrap {
    position: relative;
}

.modal-input-wrap:focus-within {
    border-color: blue;
}

.modal-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    left: 16px;
}

.modal-input {
    border-radius: 4px;
    width: 100%;
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    padding-left: 38px;
    background-color: transparent;
    padding-left: 38px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus {
    border-color: #4D5AE5;
}


.modal-checkbox-field {
    display: flex;
    margin-bottom: 24px;
}

.checkbox-label {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
}

.checkbox-span {
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
}

input:checked + label > span{
    background-color: #404bbf;
    border: none;
    fill: #f4f4fd;
}


.a-privacy {
    color: #4d5ae5;
}

.checkbox-text {
    font-weight: 400;
    font-size: 12px;
    line-height: 117%;
    letter-spacing: 0.04em;
    color: #8e8f99;
}

.submit-btn {
    display: block; 
    margin: 0 auto;
    border-radius: 4px;
    padding: 16px 32px;
    min-width: 169px;
    height: 56px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background-color: #4d5ae5;
    color: #ffffff;
    margin: 24px auto;
    cursor: pointer;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-private-link {
    line-height: 133%;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #4d5ae5;
}


.modal-input:focus + .modal-icon {
    fill: #4d5ae5
}


textarea {
    resize: none;
    width: 360px;
}

textarea::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 117%;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    padding-top: 8px;
    padding-left: 16px;
}